<a href="https://colab.research.google.com/github/Kaveesha23dil/Big_Data_Assignmnet_02/blob/task-4.1/Copy_of_Big_Data_Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Colab Setup

In [ ]:
!pip install pyspark==3.5.0

Collecting pyspark==3.5.0
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7 (from pyspark==3.5.0)
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl.metadata (1.5 kB)
Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 17.7 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425346 sha256=26b031fe9fafa64ac1acf1f668c072887664bafdc6e2ce9e8b599412c8987b7d
  Stored in directory: /root/.cache/pip/wheels/84/40/20/65eefe766118e0a8f8e385cc3ed6e9eb7241c7e51cfc04c51a
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.9
    Uninstalling py4j-0.10.9.9:
      Successfully uninstalled py4j-0.10.9.9
  Attempting uninstall: pyspark
    Found existing installation: pyspark 4.0.1
    Uninstalling pyspark-4.0.1:
      Successfully uninstalled pyspark-4.0.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
dataproc-spark-connect 1.0.1 requires pyspark[connect]~=4.0.0, but you have pyspark 3.5.0 which is incompatible.
Successfully installed py4j-0.10.9.7 pyspark-3.5.0

### Installing MondoDB Client

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.16.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (10.0 kB)
Collecting dnspython<3.0.0,>=2.6.1 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.16.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 64.4 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 30.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.16.0

### Configure Spark with MongoDB Connector

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("BigDataAssignment02") \
    .config("spark.mongodb.write.connection.uri", "mongodb+srv://sandanisenevirathna2002_db_user@admin:sandanisenevirathna2002_db_user@cluster1.acexhyt.mongodb.net/") \
    .config("spark.mongodb.read.connection.uri", "mongodb+srv://sandanisenevirathna2002_db_user@admin:sandanisenevirathna2002_db_user@cluster1.acexhyt.mongodb.net/") \
    .getOrCreate()

### Store MongoDB URI using environment variables

In [ ]:
import os
os.environ["MONGO_URI"] = "mongodb+srv://sandanisenevirathna2002_db_user@admin:sandanisenevirathna2002_db_user@cluster1.acexhyt.mongodb.net/"

# TASK 1 – DATA INGESTION (BRONZE LAYER)

### Mount google drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Load dataset

In [ ]:
df_raw = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv("/content/drive/MyDrive/Data/assignment 2/Online Retail.csv")

### Inspect schema

In [ ]:
df_raw.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: integer (nullable = true)
 |-- Country: string (nullable = true)

### Record count

In [ ]:
df_raw.count()

541909

### Add year and month

In [ ]:
from pyspark.sql.functions import year, month, to_timestamp

df_bronze = df_raw.withColumn(
    "InvoiceDate", to_timestamp("InvoiceDate")
).withColumn(
    "year", year("InvoiceDate")
).withColumn(
    "month", month("InvoiceDate")
)

### Write Bronze Layer

In [ ]:
df_bronze.write \
    .mode("overwrite") \
    .partitionBy("year", "month") \
    .parquet("/content/bronze")

# TASK 2 – DATA CLEANING & QUALITY (SILVER)

### Remove cancelled invoices

In [ ]:
df_clean = df_bronze.filter(~df_bronze.InvoiceNo.startswith("C"))

### Handle missing CustomerID

In [ ]:
df_clean = df_clean.dropna(subset=["CustomerID"])
df_clean.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|year|month|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|     17850|United Kingdom|2010|   12|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|2010|   12|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|     17850|United Kingdom|2010|   12|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|2010|   12|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|2010|   12|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|     17850|United Kingdom|2010|   12|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|     17850|United Kingdom|2010|   12|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|     17850|United Kingdom|2010|   12|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|     17850|United Kingdom|2010|   12|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|     13047|United Kingdom|2010|   12|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|     13047|United Kingdom|2010|   12|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|     13047|United Kingdom|2010|   12|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|     13047|United Kingdom|2010|   12|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|     13047|United Kingdom|2010|   12|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|     13047|United Kingdom|2010|   12|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|     13047|United Kingdom|2010|   12|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|     13047|United Kingdom|2010|   12|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|     13047|United Kingdom|2010|   12|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|     13047|United Kingdom|2010|   12|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|     13047|United Kingdom|2010|   12|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
only showing top 20 rows

### Handle negative quantities (returns)

In [ ]:
df_clean = df_clean.filter(df_clean.Quantity > 0)
df_clean.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|year|month|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|     17850|United Kingdom|2010|   12|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|2010|   12|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|     17850|United Kingdom|2010|   12|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|2010|   12|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|2010|   12|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|     17850|United Kingdom|2010|   12|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|     17850|United Kingdom|2010|   12|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|     17850|United Kingdom|2010|   12|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|     17850|United Kingdom|2010|   12|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|     13047|United Kingdom|2010|   12|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|     13047|United Kingdom|2010|   12|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|     13047|United Kingdom|2010|   12|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|     13047|United Kingdom|2010|   12|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|     13047|United Kingdom|2010|   12|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|     13047|United Kingdom|2010|   12|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|     13047|United Kingdom|2010|   12|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|     13047|United Kingdom|2010|   12|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|     13047|United Kingdom|2010|   12|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|     13047|United Kingdom|2010|   12|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|     13047|United Kingdom|2010|   12|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
only showing top 20 rows

### Remove invalid prices

In [ ]:
df_clean = df_clean.filter(df_clean.UnitPrice > 0)
df_clean.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|year|month|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|     17850|United Kingdom|2010|   12|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|2010|   12|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|     17850|United Kingdom|2010|   12|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|2010|   12|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|     17850|United Kingdom|2010|   12|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|     17850|United Kingdom|2010|   12|
|   536365|    21730|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|     17850|United Kingdom|2010|   12|
|   536366|    22633|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|     17850|United Kingdom|2010|   12|
|   536366|    22632|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|     17850|United Kingdom|2010|   12|
|   536367|    84879|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|     13047|United Kingdom|2010|   12|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|     13047|United Kingdom|2010|   12|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|     13047|United Kingdom|2010|   12|
|   536367|    22749|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|     13047|United Kingdom|2010|   12|
|   536367|    22310|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|     13047|United Kingdom|2010|   12|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|     13047|United Kingdom|2010|   12|
|   536367|    22623|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|     13047|United Kingdom|2010|   12|
|   536367|    22622|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|     13047|United Kingdom|2010|   12|
|   536367|    21754|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|     13047|United Kingdom|2010|   12|
|   536367|    21755|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|     13047|United Kingdom|2010|   12|
|   536367|    21777|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|     13047|United Kingdom|2010|   12|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
only showing top 20 rows

### Remove duplicates

In [ ]:
df_clean = df_clean.dropDuplicates()
df_clean.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|year|month|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
|   536401|    20725|LUNCH BAG RED RET...|       1|2010-12-01 11:21:00|     1.65|     15862|United Kingdom|2010|   12|
|   536408|    22537|MAGIC DRAWING SLA...|      24|2010-12-01 11:41:00|     0.42|     14307|United Kingdom|2010|   12|
|   536408|    21212|PACK OF 72 RETROS...|      24|2010-12-01 11:41:00|     0.55|     14307|United Kingdom|2010|   12|
|   536464|   90200A|PURPLE SWEETHEART...|       1|2010-12-01 12:23:00|     4.25|     17968|United Kingdom|2010|   12|
|   536528|    22130|PARTY CONE CHRIST...|      12|2010-12-01 13:17:00|     0.85|     15525|United Kingdom|2010|   12|
|   536530|    22364|GLASS JAR DIGESTI...|       1|2010-12-01 13:21:00|     2.95|     17905|United Kingdom|2010|   12|
|   536544|    22224|WHITE LOVEBIRD LA...|       1|2010-12-01 14:32:00|     5.91|     15287|United Kingdom|2010|   12|
|   536544|    85176|SEWING SUSAN 21 N...|       5|2010-12-01 14:32:00|     1.66|     15287|United Kingdom|2010|   12|
|   536544|    21207|SKULL AND CROSSBO...|       2|2010-12-01 14:32:00|     3.36|     15287|United Kingdom|2010|   12|
|   536551|    22713| CARD I LOVE LONDON |      12|2010-12-01 14:34:00|     0.42|     17346|United Kingdom|2010|   12|
|   536570|    22835|HOT WATER BOTTLE ...|      24|2010-12-01 15:35:00|     4.25|     14496|United Kingdom|2010|   12|
|   536572|    22121|NOEL WOODEN BLOCK...|       3|2010-12-01 15:40:00|     5.95|     16539|United Kingdom|2010|   12|
|   536576|    22095|LADS ONLY TISSUE BOX|      72|2010-12-01 16:11:00|     1.25|     13777|United Kingdom|2010|   12|
|   536592|    22726|ALARM CLOCK BAKEL...|       2|2010-12-01 17:06:00|     7.62|     15287|United Kingdom|2010|   12|
|   536592|   47591B|SCOTTIES CHILDREN...|      22|2010-12-01 17:06:00|     1.66|     15287|United Kingdom|2010|   12|
|   536592|    22785|SQUARECUSHION COV...|       3|2010-12-01 17:06:00|     6.75|     15287|United Kingdom|2010|   12|
|   536601|    22633|HAND WARMER UNION...|       6|2010-12-02 08:33:00|     1.85|     17850|United Kingdom|2010|   12|
|   536607|    21733|RED HANGING HEART...|       6|2010-12-02 09:29:00|     2.95|     17732|United Kingdom|2010|   12|
|   536630|    21730|GLASS STAR FROSTE...|       6|2010-12-02 10:56:00|     4.25|     17850|United Kingdom|2010|   12|
|   536632|    21479|WHITE SKULL HOT W...|       4|2010-12-02 11:02:00|     3.75|     14388|United Kingdom|2010|   12|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+----+-----+
only showing top 20 rows

### Data Quality Report

In [ ]:
from pyspark.sql.functions import col, count, isnan, when
from pyspark.sql.types import DoubleType, FloatType, IntegerType, LongType

exprs = []

for field in df_clean.schema.fields:
    c = field.name
    dtype = field.dataType

    if isinstance(dtype, (DoubleType, FloatType)):
        # Numeric columns → NULL or NaN
        exprs.append(
            count(
                when(col(c).isNull() | isnan(col(c)), c)
            ).alias(c)
        )
    else:
        # Non-numeric columns → NULL only
        exprs.append(
            count(
                when(col(c).isNull(), c)
            ).alias(c)
        )

quality_report = df_clean.select(exprs)
quality_report.show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+----+-----+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|year|month|
+---------+---------+-----------+--------+-----------+---------+----------+-------+----+-----+
|        0|        0|          0|       0|          0|        0|         0|      0|   0|    0|
+---------+---------+-----------+--------+-----------+---------+----------+-------+----+-----+

# TASK 3 – FEATURE ENGINEERING

### Revenue Feature

In [ ]:
from pyspark.sql.functions import hour, dayofweek

df_feat = df_clean.withColumn(
    "revenue", df_clean.Quantity * df_clean.UnitPrice
)

### Time-based Features

In [ ]:
df_feat = df_feat.withColumn("hour", hour("InvoiceDate")) \
                 .withColumn("weekday", dayofweek("InvoiceDate"))

### Basket-Level Features

In [ ]:
from pyspark.sql.functions import sum as _sum, countDistinct

basket_metrics = df_feat.groupBy("InvoiceNo").agg(
    _sum("revenue").alias("invoice_total"),
    countDistinct("StockCode").alias("items_per_invoice")
)

### RFM Features (Customer)

In [ ]:
from pyspark.sql.functions import max, datediff, current_date

rfm = df_feat.groupBy("CustomerID").agg(
    datediff(current_date(), max("InvoiceDate")).alias("recency"),
    countDistinct("InvoiceNo").alias("frequency"),
    _sum("revenue").alias("monetary")
)

### Window Function Example

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum

window_spec = Window.partitionBy("CustomerID")

df_feat = df_feat.withColumn(
    "customer_total_spend",
    sum("revenue").over(window_spec)
)

# TASK 4 – MONGODB DATA MODELING (GOLD)

### Configure MongoDB Connection (Environment Variables)

In [ ]:
import os
os.environ["MONGO_URI"] = "mongodb+srv://cit23020025_db_user:Z98uYpIUdMYn0ylH@cluster0.0ew6syh.mongodb.net/?appName=Cluster0"
os.environ["MONGO_DB"] = "BigDataAssignment02"

import verification

In [ ]:
import os
print(os.environ["MONGO_URI"] is not None)
print(os.environ["MONGO_DB"])

True
BigDataAssignment02

In [ ]:
import os
print(os.environ["MONGO_URI"])
print(os.environ["MONGO_DB"])

mongodb+srv://cit23020025_db_user:Z98uYpIUdMYn0ylH@cluster0.0ew6syh.mongodb.net/?appName=Cluster0
BigDataAssignment02

Restart Spark with MongoDB Spark Connector

In [ ]:
from pyspark.sql import SparkSession
import os

# stop old session if exists
try:
    spark.stop()
except:
    pass

# Retrieve environment variables
MONGO_URI = os.environ.get("MONGO_URI")
MONGO_DB = os.environ.get("MONGO_DB")

spark = (SparkSession.builder
    .appName("BigDataAssignment02-Task4")
    .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector_2.12:10.3.0")
    .config("spark.mongodb.write.connection.uri", MONGO_URI)
    .config("spark.mongodb.read.connection.uri", MONGO_URI)
    .getOrCreate())

spark

In [ ]:
df_feat = df_feat.withColumn("hour", hour("InvoiceDate")) \
                 .withColumn("weekday", dayofweek("InvoiceDate"))

Test Spark to see its working

In [ ]:
spark.range(5).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

FACT: fact_invoices

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

line_item = F.struct(
    F.col("StockCode").alias("stock_code"),
    F.col("Description").alias("description"),
    F.col("Quantity").cast("int").alias("quantity"),
    F.round(F.col("UnitPrice"), 2).alias("unit_price"),
    F.round(F.col("revenue"), 2).alias("line_revenue")
)

fact_invoices = (df_feat
    .groupBy("InvoiceNo", "CustomerID", "Country", "InvoiceDate")
    .agg(
        F.collect_list(line_item).alias("line_items"),
        F.round(F.sum("revenue"), 2).alias("invoice_revenue"),
        F.sum(F.col("Quantity").cast("int")).alias("total_quantity"),
        F.countDistinct("StockCode").alias("distinct_products")
    )
    .withColumn("_id", F.col("InvoiceNo").cast("string"))
)

fact_invoices.show(2, truncate=False)

+---------+----------+--------------+-------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------+--------------+-----------------+------+
|InvoiceNo|CustomerID|Country       |InvoiceDate        |line_items                                                                                                                                                                                                                                                                                                                                                                                                    |invoice_revenue|total_quantity|distinct_products|_id   |
+---------+----------+--------------+-------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------+--------------+-----------------+------+
|536365   |17850     |United Kingdom|2010-12-01 08:26:00|[{22752, SET 7 BABUSHKA NESTING BOXES, 2, 7.65, 15.3}, {84029G, KNITTED UNION FLAG HOT WATER BOTTLE, 6, 3.39, 20.34}, {85123A, WHITE HANGING HEART T-LIGHT HOLDER, 6, 2.55, 15.3}, {21730, GLASS STAR FROSTED T-LIGHT HOLDER, 6, 4.25, 25.5}, {71053, WHITE METAL LANTERN, 6, 3.39, 20.34}, {84029E, RED WOOLLY HOTTIE WHITE HEART., 6, 3.39, 20.34}, {84406B, CREAM CUPID HEARTS COAT HANGER, 8, 2.75, 22.0}]|139.12         |40            |7                |536365|
|536366   |17850     |United Kingdom|2010-12-01 08:28:00|[{22632, HAND WARMER RED POLKA DOT, 6, 1.85, 11.1}, {22633, HAND WARMER UNION JACK, 6, 1.85, 11.1}]                                                                                                                                                                                                                                                                                                           |22.2           |12            |2                |536366|
+---------+----------+--------------+-------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------+--------------+-----------------+------+
only showing top 2 rows

Write fact_invoices to MongoDB

In [ ]:
import os
MONGO_URI = os.environ["MONGO_URI"]
MONGO_DB  = os.environ.get("MONGO_DB", "BigDataAssignment02")

(fact_invoices.write
  .format("mongodb")
  .mode("overwrite")
  .option("database", MONGO_DB)
  .option("collection", "fact_invoices")
  .save())

Build dim_customers

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window

snapshot_date = df_feat.agg(F.max("InvoiceDate").alias("max_dt")).collect()[0]["max_dt"]

cust = (df_feat
    .groupBy("CustomerID")
    .agg(
        F.first("Country", ignorenulls=True).alias("primary_country"),
        F.max("InvoiceDate").alias("last_purchase_date"),
        F.countDistinct("InvoiceNo").alias("frequency"),
        F.round(F.sum("revenue"), 2).alias("monetary")
    )
    .withColumn("recency_days", F.datediff(F.lit(snapshot_date), F.col("last_purchase_date")))
)

dim_customers = (cust
    .withColumn("r_score", F.ntile(5).over(Window.orderBy(F.col("recency_days").asc())))
    .withColumn("f_score", F.ntile(5).over(Window.orderBy(F.col("frequency").desc())))
    .withColumn("m_score", F.ntile(5).over(Window.orderBy(F.col("monetary").desc())))
    .withColumn("rfm_score", F.concat_ws("", "r_score", "f_score", "m_score"))
    .withColumn(
        "segment",
        F.when((F.col("r_score")>=4) & (F.col("f_score")>=4) & (F.col("m_score")>=4), "Champions")
         .when((F.col("f_score")>=4) & (F.col("m_score")>=4), "Loyal Customers")
         .when(F.col("r_score")<=2, "At Risk")
         .otherwise("Potential")
    )
    .withColumn("_id", F.col("CustomerID").cast("string"))
)

dim_customers.show(5, truncate=False)

+----------+---------------+-------------------+---------+---------+------------+-------+-------+-------+---------+-------+-----+
|CustomerID|primary_country|last_purchase_date |frequency|monetary |recency_days|r_score|f_score|m_score|rfm_score|segment|_id  |
+----------+---------------+-------------------+---------+---------+------------+-------+-------+-------+---------+-------+-----+
|15287     |United Kingdom |2011-12-09 10:26:00|1430     |1755388.6|0           |1      |1      |1      |111      |At Risk|15287|
|14646     |Netherlands    |2011-12-08 12:12:00|73       |280206.02|1           |1      |1      |1      |111      |At Risk|14646|
|18102     |United Kingdom |2011-12-09 11:50:00|60       |259657.3 |0           |1      |1      |1      |111      |At Risk|18102|
|17450     |United Kingdom |2011-12-01 13:29:00|46       |194390.79|8           |1      |1      |1      |111      |At Risk|17450|
|16446     |United Kingdom |2011-12-09 09:15:00|2        |168472.5 |0           |1      |3      |1      |131      |At Risk|16446|
+----------+---------------+-------------------+---------+---------+------------+-------+-------+-------+---------+-------+-----+
only showing top 5 rows

Write dim_customers

In [ ]:
(dim_customers.write
  .format("mongodb")
  .mode("overwrite")
  .option("database", MONGO_DB)
  .option("collection", "dim_customers")
  .save())

Build dim_products

In [ ]:
country_dist = (df_feat
    .groupBy("StockCode", "Country")
    .agg(
        F.sum(F.col("Quantity").cast("int")).alias("qty"),
        F.round(F.sum("revenue"), 2).alias("revenue")
    )
    .groupBy("StockCode")
    .agg(
        F.collect_list(
            F.struct(
                F.col("Country").alias("country"),
                F.col("qty").alias("qty"),
                F.col("revenue").alias("revenue")
            )
        ).alias("country_distribution")
    )
)

dim_products = (df_feat
    .groupBy("StockCode")
    .agg(
        F.first("Description", ignorenulls=True).alias("description"),
        F.sum(F.col("Quantity").cast("int")).alias("total_qty_sold"),
        F.round(F.sum("revenue"), 2).alias("total_revenue"),
        F.countDistinct("InvoiceNo").alias("invoice_count"),
        F.countDistinct("CustomerID").alias("unique_customers")
    )
    .join(country_dist, on="StockCode", how="left")
    .withColumn("_id", F.col("StockCode").cast("string"))
)

dim_products.show(3, truncate=False)

+---------+---------------------------+--------------+-------------+-------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|StockCode|description                |total_qty_sold|total_revenue|invoice_count|unique_customers|country_distribution                                                                                                                                     |_id  |
+---------+---------------------------+--------------+-------------+-------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
|10002    |INFLATABLE POLITICAL GLOBE |860           |759.89       |71           |41              |[{Switzerland, 12, 10.2}, {EIRE, 12, 10.2}, {Germany, 1, 0.85}, {France, 372, 316.2}, {United Kingdom, 438, 401.19}, {Japan, 1, 0.85}, {Spain, 24, 20.4}]|10002|
|10080    |GROOVY CACTUS INFLATABLE   |303           |119.09       |22           |20              |[{United Kingdom, 303, 119.09}]                                                                                                                          |10080|
|10120    |DOGGY RUBBER               |192           |40.32        |29           |25              |[{France, 10, 2.1}, {United Kingdom, 182, 38.22}]                                                                                                        |10120|
+---------+---------------------------+--------------+-------------+-------------+----------------+---------------------------------------------------------------------------------------------------------------------------------------------------------+-----+
only showing top 3 rows

Write dim_products

In [ ]:
(dim_products.write
  .format("mongodb")
  .mode("overwrite")
  .option("database", MONGO_DB)
  .option("collection", "dim_products")
  .save())